%h1 Merdian's Beacon

= image_tag "https://survivinskyrim.files.wordpress.com/2015/11/morc16-8.jpg", alt: "Merdian's Beacon", width: 900, height: 600

//%button{:onclick => "addOurMerdianImg();"} Try it
