%h1 Merdian's Beacon

= image_tag "https://survivinskyrim.files.wordpress.com/2015/11/morc16-8.jpg", alt: "Merdian's Beacon", width: "100%", height: "100%"

//%button{:onclick => "addOurMerdianImg();"} Try it
